.header {
    background-color: #f3f8fe;
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 5px 0px 0px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}

.logo {
    width: 40px;
    height: auto;
    object-fit:contain;
}

.title-left {
    display: flex;
}

.files-button {
    display: flex;
    background-color: #ffeccc;
    color: #895200;
    width: 50px;
    height:70px;
    padding-left: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: center; /* Centrar elementos */
    position: relative;
}

.files-text {
    visibility: hidden; /* Ocultar completamente el texto */
    width: 0; /* No ocupar espacio */
    overflow: hidden;
    transition: width 0.3s ease-in-out; /* Animación fluida */
    margin-right: 15px;
    cursor: pointer;
}

.files-arrow {
    text-align: center;
    transition: margin-right 0.3s ease-in-out; /* Mover con animación */
    cursor: pointer;
}

.files-button:hover {
    width: 90px;
    justify-content: flex-start; /* Cambiar alineación */
    padding-left: 15px;
    cursor: pointer;
}

.files-button:hover .files-text {
    visibility: visible;
    width: auto; /* Expandir el texto */
}

.uploadButton {
    display: flex;
    background-color: #ffeccc;
    color: #895200;
    width: 120px;
    height:90px;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    margin-right: 45px;
    font-size: 1.0rem;

}

.uploadButton:hover {
    background-color: #c9ddf4;
    cursor: pointer;
}

.uploadButton:disabled {
    cursor: default;
  }