.chat-with-ai {
    background-color: #a094a9;
	flex: 1;
    display: flex;
    flex-direction: column;
    padding: 95px 20px 20px; /* Top space for header, bottom for future footer */
    /* max-width: 1600px; */
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.chat-space {
    flex: 1;
    overflow-y: scroll;
    /* background-color: #a094a9; */
    /* border: 0px solid #e5e5ea; */
    /* border-radius: 0.25rem; */
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0px;
}


.chat-space p {
	border-radius: 1.15rem;
	line-height: 1.25;
	max-width: 75%;
	padding: 0.5rem .875rem;
	position: relative;
	word-wrap: break-word;
}

.chat-space p::before,
.chat-space p::after {
	bottom: -0.1rem;
	content: "";
	height: 1rem;
	position: absolute;
}

p.from-user {
	align-self: flex-end;
	background-color: #a58d6f;
	color: #fff; 
	border-bottom-right-radius: 2px;
}

p.from-user::before {
	border-bottom-left-radius: 0.8rem 0.7rem;
	border-right: 1rem solid #a58d6f;
	right: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-user::after {
	background-color: #a094a9;
	border-bottom-left-radius: 0.5rem;
	right: -40px;
	transform:translate(-30px, -2px);
	width: 10px;
}

div.from-ai {
	align-items: flex-start;
	background-color: #e5e5ea;
	color: #000;
	border-bottom-left-radius: 2px;
  	overflow-wrap: break-word;
}

div.from-ai:before {
	border-bottom-right-radius: 0.8rem 0.7rem;
	border-left: 1rem solid #e5e5ea;
	left: -0.35rem;
	transform: translate(0, -0.1rem);
}

div.from-ai::after {
	background-color: #a094a9;
	border-bottom-right-radius: 0.5rem;
	left: 20px;
	transform: translate(-30px, -2px);
	width: 10px;
}

.text-container-ai {
	display: flex;
	gap: 10px;
	align-items:end;
	justify-content: left;
}

.text-container-user {
	display: flex;
	gap: 10px;
	align-items:end;
	justify-content: right;
}

.logo-ai {
	width: 40px;
	height: auto;
	object-fit:contain;
	margin-bottom: 13px;
}


.input-prompt {
	display: flex;
	width:100%;
	/* background-color: greenyellow; */
	margin-top: 0px;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.input {
	width: 90%;
	height:39px;
	padding-left: 5px;
}

.send-button {
	height:45px;
	cursor: pointer;
	background-color: #ffeccc;
	border: 1px solid #a58d6f;
	border-radius: 15px;
}

.send-button:disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
	opacity: 0.6;
  }
  
.references {
	margin-top: -40px;
	padding-left: 45px ;
}