.questionnaire {
    z-index: 2;
    background-color: aquamarine;
    width: calc(100% - 165px);
    height: calc(100% - 90px);
    position: absolute;
    margin-top: 90px;
    margin-left: 165px;
}
